*
{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

.main-nav
{
	float: right;
	list-style: none;
	margin-top: 30px;
}
.main-nav li
{
	display: inline-block;
	margin-right: 10px;
}
.main-nav li a
{
	
	text-decoration: none;
	padding: 5px 20px;
	font-family: 'Poppins';
	font-size: 15px;
}
.main-nav li a:hover
{
	border: 1px solid white;
}

h2 a
{
	font-family: 'Poppins';
	
}

.header .logo
 {
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

body
{
	margin: 0;
	padding: 0;
}
.body1
{
	font-family: 'Poppins';
	height: 100%;
	background: #9dada3;
	background-image: linear-gradient(to bottom left, #3fa3dc , #130d42 80%);
	/*#346fb5, #221a6c, #221a6c,*/
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: white;
	margin: 0;
	padding: 0;
}

.header {
  overflow: hidden;
  background-color: transperent;
  padding: 20px 10px;
}




.homeline
{
	font-family: 'Poppins';
	margin: 5% 0% 0% 7%;
	font-size: 22px;
}
.landimg img
{
	width: 550px;
	height: auto;
	margin: -25% 0% 0% 50%;
	padding: 0% 0% 0% 0%;
}
.homeline p
{
	font-size: 50px;
	margin-left: -3%;
}

.body2
{
	font-family: 'Poppins';
	height: 100%;

}
.homeline2
{
	font-family: 'Poppins';
	margin: 5% 10% 0% 7%;
	font-size: 22px;
	color: #184377;
}
.landimg2 img
{
	width: 183%;
	height: auto;
	margin: 0% 0% 0% 188%;
	padding: 0% 0% 0% 0%;
}
.landimg2
{
	float: left;
}
.homeline2 h1
{
	font-family: 'Poppins';
	font-size: 50px;
	margin-left: 50%;
	width: 40%;
}
.homeline2 p
{
	margin-left: 50%;
	font-size: 13px;
	font-weight: bolder;
}
.row
{
	margin: 5%;
	text-align: center;
	padding: 4%;
    padding-top: 0;
    padding-bottom: 0;

}
.column
{
	display: inline-block;
	width: 10%;
    margin: 4%;
}

@media screen and (max-width: 481px){


  *
{
	margin: 0;
	padding: 0;
}
.main-nav
{
	float: right;
	list-style: none;
	margin-top: 30px;
}
.main-nav li
{
	display: inline-block;
}
.main-nav li a
{
	
	text-decoration: none;
	padding: 5px 20px;
	font-family: 'Poppins';
	font-size: 15px;
}
.main-nav li a:hover
{
	border: 1px solid white;
}
.logo img
{
	margin-top: 10px;
	width: 100px;
	height: auto;
	float: left;
}
h2 a
{
	font-family: 'Poppins';
	text-decoration: none;
	font-size: 40px;
	float: left;
	margin-top: 2%;
	margin-left: -1%;

}
body
{
	font-family: 'Poppins';
	height: 100%;
	background-image: linear-gradient(to bottom left, #3fa3dc , #130d42 80%);
	/*#346fb5, #221a6c, #221a6c,*/
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: white;
}
.row
{
	max-width: 1200px;
	margin: auto;
}


.homeline
{
	font-family: 'Poppins';
	margin: 15% 0% 0% 5%;
	font-size: 13px;
}
.landimg img
{
	width: 550px;
	height: auto;
	margin: -40% 0% 0% 50%;
	padding: 0% 0% 0% 0%;
}


}
/*<a class="waves-effect waves-light btn" style="background-image: linear-gradient(to left, #3fa3dc , #130d42 80%);"><i class="material-icons right">get_app</i>Download</a>
*/
